# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Sotatek\To-do-list-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
